on early-init
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor fantasy

on init
    mount vfat /dev/block/nandi /storage/sdcard0
    write /sys/devices/virtual/bdi/179:0/read_ahead_kb 2048
    write /sys/devices/virtual/bdi/7:0/read_ahead_kb 2048
    write /sys/devices/virtual/bdi/93:0/read_ahead_kb 2048

    insmod /lib/modules/ft5x_ts.ko
    insmod /lib/modules/goodix_touch_3F.ko
    insmod /lib/modules/goodix_touch.ko
    insmod /lib/modules/gt801_2plus1.ko
    insmod /lib/modules/ssd253x-ts.ko
    insmod /lib/modules/Novatek_TouchDriver.ko

on boot

service dispctl /sbin/dispctl
    oneshot


service erase_misc /sbin/sh -c "dd if=/dev/zero count=1 | tr '\000' '\377' > /dev/block/nandf; sync"
    oneshot
